body {
  background-image: url("background.jpg");
}

ul {
  list-style-type: circle;
  font-size: 20px
}

p {
  font-family: Verdana, Times, serif;
}
div.header{
  text-align: center;
  background: black;
  color: white;

}

h2.work-experience-header{
  text-align: center;

}
h3.Hello{
  text-align: center;
  font-size: 21px;
}
img.image{
  object-fit: fill;
  object-position: center;
  height: 380px;
}

div.experience {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

div.About-me{
  width: 60%;
  margin: 0 auto;

}
div.Introduction{
  background-image: url('background2.jpg');
  background-size: cover;
  column-count: 2;
}

div.intro-paragraph-div{
  padding-top: 30px;
  padding-left: 40px;
}

h3.jobs-header{
  font-size: 21px
  text-align: left;
  text-decoration: underline;
  text-indent: 50px;
  text-transform: capitalize;
  color: green;
}

p.job-description {
  text-align: left;
  font-size: 15px;
}
